
.comp-cabecalho {
    background-color: #ddcfe9;
    padding: 1vw 2.5vw;
    width: 100%;
    box-shadow: 0px 8px 15px #e6e6e6;


    a {
        text-decoration: none;
    }

    header{
        display: flex;
        align-items: center;
       

        
        img {
            width: 8vw;
        }
      
        h1 {
            font-family: 'Ultra', sans-serif;
            font-size: 2vw;
            color: #230835;
            font-weight: 400;
        }
    }

}